:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: lightslategray;
  font-family: monospace;
}

.food-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  font-size: larger;
}

.cuisine {
  color: darkblue;
}

.foodImage {
  width: 400px;
  height: 250px;
  border-radius: 20px;
}
